:root {
    --color-body-background: #{$mystic};
    --color-text: #{$haiti};
    --color-lin1: #{$keppel};
    --color-lin2: #{$jaffa};
    --color-border: #{$daisyBush};
    --color-text-shdow: #{$luckyPoint};
    
}


.dark {
    --color-body-background: #{$haiti} ;
    --color-text:#{$mystic} ;
    --color-lin1: #{$hollywoodCerise};
    --color-lin2: #{$haiti};
    --color-border: #{$jaffa};
    --color-text-shdow: #{$jaffa};
    
}





