$icon-font--google      : "https://fonts.googleapis.com/icon?family=Material+Icons";
$font-url--google       :"https://fonts.googleapis.com/css2?family=Federo&family=Jura&family=Megrim&display=swap";
$font-family--primary   : 'Megrim', 'cursive', Helvetica, Arial, 'sans-serif';
$font-family--secondary : 'Federo', Helvetica, Arial, 'sans-serif';

$font-family--body       : 'Jura', Helvetica, Arial, 'sans-serif';
// Font Weights

$font-weight--regular    : 400;
$font-weight--medium     : 500;
$font-weight--bold       : 700; 

//Text

$base__font-size        : 16px;
$base__line             : 24px;
$letter-spacing         : 1px;

//COLORS
$black                  : #0b0b0b;
$lipstick               : #db006d;
$japanese-laurel        : #009700;
$jaffa                  : #f68741;
$luckyPoint             : #13185d;
$grey                   : #272829;
$mystic                 : #e5edf0;
$keppel                 : #43b5a0;
$hollywoodCerise        : #ef0195;
$dodgerBlue             : #1b96f3;
$veniceBlue             : #064b8b;
$daisyBush              : #491d88;
$luckyPoint             : #13185d;
$haiti                  : #10133a;


//END COLORS




$color-shades: (
      grey:(

       xx-light:    ligthen($grey, 43%),
        x-light:    ligthen($grey, 35%),
        light  :    ligthen($grey, 12%),
        base   :    $grey,
        dark   :    darken($grey, 8%),
        x-dark :    darken($grey, 16%),

    ),

    black:(

        light:   lighten($black, 10%),
        base :   $black,  
        dark :   darken($black, 10%),
    ),
);
